body{
    margin:0;
    font-family: 'Poppins';
    font-size: 52px;
    overflow-x:hidden;
    box-sizing: border-box;
}

/*navbar*/
nav {
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left:100px;
    margin-right:100px;
  }

  nav .mainMenu {
    display: flex;
    list-style: none;
   margin-top: 0px;
  }
  nav .mainMenu li a {
    display: inline-block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: black;   
    font-size: 18px;
    transition: 0.2s ease;
  }
  
  nav .openMenu {
    font-size: 2rem;
    margin: 20px;
    display: none;
    cursor: pointer;
  }
  nav .mainMenu .closeMenu,
  .icons i {
    font-size: 2rem;
    display: none;
    cursor: pointer;
  }
  nav .logo {
    margin: 6px;
    cursor: pointer;
    text-transform: uppercase;
  }
  .apply{
    width: 120px;
    background-color: #717CFF;
    border-radius: 4px;
    border-style: none;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 14px;
    height: 32px;
    margin-top: 14px;
}

/*hero*/

.hero .container{
    margin-left:100px;
    margin-right:0;
    max-height: 100vh;
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    z-index:-1;
    margin-top: 30px;
    flex:1;
}

.hero .container .content {
    margin-top:20px;
}

.hero .container img{
    flex:1;
    width: 700px;
    margin-top: 0px   ;
    padding-left: 50px;
    z-index: -1;
}
.hero .container button{
    width: 170px;
    background-color: #717CFF;
    border-radius: 4px;
    border-style: none;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 14px;
    height: 32px;
    margin-top:30px;
}
.hero .container .tagline {
    font-size: 52px;
}
.hero .container .des {
    font-size: 18px;
    color:#7D7D7D;
}

/*banner*/
.banner .container{
    width:100%;
    margin-top:-28px;
    background-color: #F1F2FC;
    display: flex;
    justify-content: space-around;
    padding: 33px 2px 33px 2px;
    z-index: 2;
}
.banner .container img{
    width: 120px;
}

/*services*/
.services .container{
    margin-top: 18px;
    width: 100%;
    
}

.services .container .content{
    text-align: center;
    font-size: 17px;
}
.services .container .cards{
    display: flex;
    justify-content: space-around;  
    gap:30px;
    margin:50px 100px 100px 100px;
}
.services .container .cards .card img{
    width: 50px;
}
.services .container .cards .card .title{
    font-size: 16px;
}

.services .container .card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 17%;
  border-radius: 8px;
  padding: 10px 30px 10px 30px;
  font-size: 14px;

}


/*news*/
.news .container{
    margin-top: 18px;
    background-color: #F1F2FC;
    padding-top:40px ;
    overflow-x:scroll;
}

.news .container .content{
    text-align: center;
    font-size: 17px;
}


.newscards{
    display:flex;
    overflow-x: scroll;
    flex-wrap:nowrap;
    gap:30px;
    margin-left: 120px;
    margin-right:120px;
}
.newscard{
    width:100%;
    height:100%;
    border-radius: 5px;
    background-color: #FFFFFF;
}
.newscard .date{
    font-size: 12px;
    padding:0px 10px 0px 10px;
}
.newscard .title{
    font-size: 16px;
    padding:0px 10px 0px 10px;
}
.newscard .des{
    margin-top:0px;
    font-size: 12px;
    padding:0px 10px 0px 10px;
}
.newscard img{
    width: 100%;
}


.news .container button{
    position:relative;
    width: 120px;
    background-color: #717CFF;
    border-radius: 4px;
    border-style: none;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 14px;
    height: 32px;
    align-items: center;
    margin-top:70px;
    text-align: center;
    align-items: center;
    margin-bottom: 80px;
}
/* countries */

.country .container{
   
    padding-top:40px ;
    background-color: #F9F9F9;
}

.country .container .content{
    text-align: center;
    font-size: 17px;
}

.country .container .cards{
    display: flex;
    justify-content: center;
    gap:50px;
    margin:50px 100px 0px 100px;
}

.country .container .card{
  transition: 0.3s;
  width: 25%;
  border-radius: 22px;
  margin-bottom: 40px;
}
.country .container .card img{
    border-radius: 0px;
}

.country .container .cardD{
    display: none;
}

.country .container .card p{
    padding-left: 20px;
    padding-right: 10px;
    font-size: 14px;
}
.country .container .cardD p{
    padding-left: 20px;
    padding-right: 10px;
    font-size: 12px;
}


/* testinomial */

.testinomial .container{
    padding-top:40px ;
    margin-bottom: 80px;
    margin-left: 100px;
    margin-right: 100px;
    ;
    
}

.testinomial .container .content{
    text-align: center;
    font-size: 17px;
}

.testinomialcards{
    display:flex;
    overflow-x: scroll;
    flex-wrap:nowrap;
    gap:30px;
    margin-left: 100px;
    margin-right:100px;
}
.testinomialcard{
    width:100%;
    height:100%;
    border-radius: 12px;
    background-color: #FAFAFA;
    margin-bottom: 40px;
}

.testinomialcard .title{
    font-size: 16px;
    padding:0px 10px 0px 10px;
}
.testinomialcard .des{
    margin-top:0px;
    font-size: 12px;
    padding:0px 10px 0px 10px;
}
.testinomialcard img{
    width: 100px;
}

.testinomialcards .testinomialcard .sep{
    display: flex;
}
.testinomialcards .testinomialcard .sep p{
    padding:10px 10px 10px 10px;
}

/*footer*/
footer{
    background-color: #717CFF;
    width: 100%;
    overflow-x:hidden;
    
}
footer .container{
    display:flex;
    height:300px;
    width: 100%; 
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    padding-left:200px;
}




.side{
    display: flex;;
    justify-content: space-around;
    padding-right: 400px;
}

.footer .container .side .footer-links{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:40px
}

.footer .container .side .footer-links li{
    list-style: none;
}
.footer .copyright{
    display: flex;
    justify-content: center;
    font-size: 16px;
    background-color: #717CFF;
    margin-bottom: 0px;
    padding-bottom: 20px;
}
.icons .fmobile{
    display: none;
}


@media only screen and (max-width:1000px ){
    body{
        overflow-x: hidden;
        margin: 0px;
    }
    nav {
        color: black;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-left:40px;
        margin-right:40px;
        margin-top: 0px;
      }
   
    .hero .container button{
        margin-top:-20px;
    }
    .banner .container{
        margin-top:-8px;
        
    }
    .banner .container img{
        width: 70px;
    }
    .services .container{
        margin-right:0px;
        
    }
    .services .container .cards .card .title{
        font-size: 12px;
    }
    .country .container .cards .card .title{
        font-size: 12px;
    }
    .menu{
        display: block;
        margin-top: 30px;
    }
    .hero .container{
        margin-left: 10px;
        margin-right: 10px;
    }
    .hero .container img{
        width: 250px;
        
        margin-right:0px;
    }
    .hero .container .des { 
        font-size: 12px;
        padding-left: 15px;
    }

    .hero .container .tagline{
        font-size: 32px;
        padding-left: 10px;
    }
    .services .container .cards{
        display: flex;
        flex-wrap: wrap;
        
        gap:10px;
       margin : 0px 10px 0px 10px;
    }
    
    .services .container .cards p{
        font-size: 12px;
        
       
    }
    .services .container .cards .card .title{
        font-size: 14px;
    }

    .services .container .card{
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      transition: 0.3s;
      width: 43%;
      border-radius: 8px;
      padding: 10px 10px 10px 10px;
      font-size: 12px;
    
    }

    .country .container .cards{
        display: flex;
        flex-wrap: wrap;
        gap:8px;
        justify-content: space-around;
        margin:0px 0px 0 0px;
    }
    
    .country .container .card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      transition: 0.3s;
      width: 40%;
      border-radius: 22px;
      margin-bottom: 40px;
      margin:2px;
    }
    .country .container .cardD{
        display: block;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        width: 40%;
        border-radius: 22px;
        margin-bottom:  0px;
    }
    .country .container .cardD p{
        padding-left: 20px;
        padding-right: 10px;
        font-size: 8px;
    }
    
    .country .container .card p{
       font-size: 8px;
        }

        .testinomial .container{
         margin: 0px 0px 0px 0px;  
        }
       

        .news .container{
            margin : 0px 0px 0px 0px;
        }

        .newscard img{
            width:300px;
        }
        .newscards{
           
            margin-left: 10px;
            margin-right:10px;
        }

        .testinomialcard img{
            width:100px;
        }
        .testinomialcards{
           
            margin-left: 10px;
            margin-right:10px;
        }
        .testinomialcards .testinomialcard .sep{
            display: flex;
            flex-direction: row;
            width:350px;
        }
        .testinomialcards .testinomialcard .sep .title{
           font-size: 12px;
        }

        .services .container .content p {
            font-size: 12px;
        }
        .news .container .content p {
            font-size: 12px;
        }
        .testinomial .container .content p {
            font-size: 12px;
        }
        .country .container .content p {
            font-size: 12px;
        }

        .footer .container{
            display: flex;
            flex-direction: column;
        }
        .footer .container .content{
            display: flex;
            flex-direction: row;
        }
        .footer .container .content p {
            font-size: 12px;
            color:white;
        }
        .footer .container{
            padding: 50px 0px 0px 0px;
        }
        .side{
            display: flex;;
            padding-right: 20px;
            color:white;
        }
        
        .nav-links.show{
            display: absolute;
            flex-direction: column;
            width: 50%;
            background-color: #f1f2fc;
            padding: 10px 30px 10px 30px;
        }
        .icons{
            cursor: pointer;
        }
        .icons img{
            width:20px;
        }
        .icons .fdesktop{
            display: none;
        }
        .icons .fmobile{
            width: 10px;
        }
        .copyright{
            padding-top: 70px;
        }
        
    
}
@media only screen and (max-width:800px){
    nav{
        margin-left:10px;
    }
    nav .mainMenu {
      height: 100vh;
      position: fixed;
      top: 0px;
      right: 0px;
      left: 0px;
      z-index: 10;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background: #F1F2FC;
      transition: right 1s ease 0s;
      display: none;
    }
    nav .mainMenu .closeMenu {
      display: block;
      position: absolute;
      top: 20px;
      right: 20px;
    }
    nav .openMenu {
      display: block;
      margin-left:280px
    }
   
    .icons i {
      display: inline-block;
      padding: 12px;
    }
}
@media screen and (max-width:1200px){
    .hero .container img{
        flex:1;
        width: 550px;
        margin-top: 0px   ;
        padding-left: 50px;
        z-index: -1;
    }
    .hero .container .tagline{
        font-size: 44px;
    }
    .hero .container .des{
        font-size: 14px;
    }
}
@media screen and (max-width:768px){
        body{
            margin:0;
            padding: 0;
            width: 100%;
           
        }
        .hero .container{
            margin-top: 0px;
        }
        .hero .container img{
            flex:1;
            width: 400px;
            margin-top: 100px   ;
            padding-left: 50px;
            z-index: -1;
        }
        .hero .container .tagline{
            font-size: 44px;
        }
        .hero .container .des{
            font-size: 14px;
        }
        .banner .container{
            width: 100%;
        }
    }
@media screen and (max-width:900px){
            body{
                margin:0;
                padding: 0;
                width: 100%;
                overflow-x:hidden;
            }
            nav {
                display: flex;
                justify-content: space-around;
               
              }
              nav .logo{
                width:10px
              }
            .hero .container img{
                flex:1;
                width: 200px;
                margin-top: 80px   ;
                padding-left: 0px;
                
                z-index: -1;
                overflow-x: hidden;
            }
            .hero .container .tagline{
                font-size: 37px;
            }
            .hero .container .des{
                font-size: 8px;
            }
            .banner .container{
                width: 100%;
            }
}
@media screen and (max-width:320px){
    body{
        margin:0;
        padding: 0;
        width: 100%;
        overflow-x:hidden;
    }
    nav {
        display: flex;
       justify-content: space-between;
       margin: 0px;
       overflow-x:hidden;
        
      }
      nav .logo{
        width:10px
      }
      nav .nav-links{
       
      }
    .hero .container img{
        flex:1;
        width: 150px;
        margin-top: 80px   ;
        padding-left: 0px;
        
        z-index: -1;
        overflow-x: hidden;
    }
    .hero .container .tagline{
        font-size: 28px;
    }
    .hero .container .des{
        font-size: 8px;
        display: none;
    }
    .banner .container{
        width: 100%;
    }
}
@media screen and (max-width:425px) {
    .hero .container .des {
        display:none
    }
    .services .container .card{
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      transition: 0.3s;
      width: 100%;
      border-radius: 8px;
      padding: 10px 30px 10px 30px;
      font-size: 14px;
    
    }
    .services .container .cards{
        display: flex;
        justify-content: space-around;  
        gap:10px;
        margin:50px 30px 100px 30px;
    }
    
    .country .container .cards{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap:10px;
        margin:50px 30px 0px 30px;
    }
    
    .country .container .card{
      transition: 0.3s;
      width: 100%;
      border-radius: 22px;
      margin-bottom: 40px;
    }
    .country .container .cardD{
        display: block;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        width: 100%;
        border-radius: 22px;
        margin-bottom:  0px;
    }

}
@media screen and (min-width:2000px){   
    .services .container .card{
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      transition: 0.3s;
      width: 100%;
      border-radius: 8px;
      padding: 10px 30px 10px 30px;
      font-size: 144px;
    
    }
    .services .container .cards{
        display: flex;
        justify-content: space-around;  
        gap:10px;
        margin:50px 30px 100px 30px;
    }
    .services .container .cards .card .title{
        font-size: 36px;
    }
    .services .container .cards .card img{
        width: 100px;
    }
    .services .container .cards .card p {
        font-size: 32px;
    }
    .newscard img{
        width: 100%;
    }
    .newscard{
        width:100%;
        height:100%;
        border-radius: 5px;
        background-color: #FFFFFF;
    }
    .newscard .date{
        font-size: 32px;
        padding:0px 10px 0px 10px;
    }
    .newscard .title{
        font-size: 42px;
        padding:0px 10px 0px 10px;
    }
    .newscard .des{
        margin-top:0px;
        font-size: 32px;
        padding:0px 10px 0px 10px; 
        color: #7D7D7D;
    }
    .news .container .content{
        text-align: center;
        font-size: 48px;
    }
    .country .container .content{
        text-align: center;
        font-size: 48px;
    }
    .country .container .card p{
        padding-left: 20px;
        padding-right: 10px;
        font-size: 42px;
    }
    .country .container .cardD p{
        padding-left: 20px;
        padding-right: 10px;
        font-size: 42px;
    }
    .testinomial .container .content{
        text-align: center;
        font-size: 48px;
    }
    .testinomialcard .title{
        font-size: 44px;
        padding:0px 10px 0px 10px;
    }
    .testinomialcard .sep .title .st{
        display: none;
    }
    .testinomialcard .des{
        margin-top:0px;
        font-size: 36px;
        padding:0px 10px 0px 10px;
    }
    footer p{
        font-size: 32px;
    }
    footer .side{
        font-size: 32px;
    }
    footer .container{
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .hero .container .content .des{
        font-size: 32px;
    }
    .banner .container img{
        width:300px
    }

}
@media screen and (min-width:1600px){   
    .services .container .card{
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      transition: 0.3s;
      width: 100%;
      border-radius: 8px;
      padding: 10px 30px 10px 30px;
      font-size: 144px;
    
    }
    .services .container .cards{
        display: flex;
        justify-content: space-around;  
        gap:10px;
        margin:50px 30px 100px 30px;
    }
    .services .container .cards .card .title{
        font-size: 36px;
    }
    .services .container .cards .card img{
        width: 100px;
    }
    .services .container .cards .card p {
        font-size: 32px;
    }
    .newscard img{
        width: 100%;
    }
    .newscard{
        width:100%;
        height:100%;
        border-radius: 5px;
        background-color: #FFFFFF;
    }
    .newscard .date{
        font-size: 32px;
        padding:0px 10px 0px 10px;
    }
    .newscard .title{
        font-size: 42px;
        padding:0px 10px 0px 10px;
    }
    .newscard .des{
        margin-top:0px;
        font-size: 32px;
        padding:0px 10px 0px 10px; 
        color: #7D7D7D;
    }
    .news .container .content{
        text-align: center;
        font-size: 48px;
    }
    .country .container .content{
        text-align: center;
        font-size: 48px;
    }
    .country .container .card p{
        padding-left: 20px;
        padding-right: 10px;
        font-size: 42px;
    }
    .country .container .cardD p{
        padding-left: 20px;
        padding-right: 10px;
        font-size: 42px;
    }
    .testinomial .container .content{
        text-align: center;
        font-size: 48px;
    }
    .testinomialcard .title{
        font-size: 44px;
        padding:0px 10px 0px 10px;
    }
    .testinomialcard .sep .title .st{
        display: none;
    }
    .testinomialcard .des{
        margin-top:0px;
        font-size: 36px;
        padding:0px 10px 0px 10px;
    }
    footer p{
        font-size: 32px;
    }
    footer .side{
        font-size: 32px;
    }
    footer .container{
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .hero .container .content .des{
        font-size: 32px;
    }
    .banner .container img{
        width:300px
    }

}

